<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


    <title>Document</title>
</head>
<body>
    <section>
        <h1>Things I need to do</h1>
        <% for(let i = 0; i<things.length; i ++) {%>
            <li>
            <% if(things[i].completed === true) { %>
                <span class="completed"><%= things[i].todo %></span>
             <% }else{%>
             <span class="uncompleted"><%= things[i].todo %></span>
            <% } %>
            <span class='fa fa-trash'></span>
        </li>
            <% } %>
    </section>
    <section>
        <form action="/send" method="POST">
            <input type="text" name="thingToDo">
            <button type="submit">submit</button>
        </form>
    </section>
    <script src="main.js"></script>
</body>
</html>